<div data="{{lowercase input-label}}">
	<input id="input__{{hyphenate input-label}}" type="text" value="{{value}}"disabled>
	<label for="input__{{hyphenate input-label}}">
		{{capitalize input-label}}
	</label>
</div>