<div class="skill" data-stat-type="{{lowercase stat}}" data-skill-name="{{hyphenate skill}}">
	<div class="proficiencies">
		<input id="skill--{{hyphenate skill}}__expertise" class="skill__expertise style-with-label" type="checkbox" onchange="{{>on-change-script}}" {{#if expertise}}checked{{/if}}>
		<label class="label__expertise checbox-label" for="skill--{{hyphenate skill}}__expertise">
			<span class="sr-only">Skill {{skill}} has expertise.</span>
		</label>
		<input id="skill--{{hyphenate skill}}__proficiency" class="skill__proficiency style-with-label" type="checkbox" onchange="{{>on-change-script}}" {{#if proficiency}}checked{{/if}}>
		<label class="label__proficiency checbox-label" for="skill--{{hyphenate skill}}__proficiency">
			<span class="sr-only">Skill {{skill}} has proficiency.</span>
		</label>
	</div>
	<div class="skill-details">
		<input id="skill--{{hyphenate skill}}" class="text-center skill__modifier" data-skill-name="{{hyphenate skill}}" type="text" disabled>
		<label for="skill--{{hyphenate skill}}">
			{{titleize skill}} (<span class="text-uppercase">{{truncate stat 3}}</span>)
		</label>
	</div>
</div>